* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

.material-icons {
    margin: auto 0;
}

body {
    background: #efeff5;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 800px;
    border: 1px 0px solid;
}

.form--section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    padding: 20px;
    border-style: none none solid none;
}

.form--header {
    width: 100%;
    height: fit-content;
}



.form--input-group {
    display: flex;
    flex-direction: column;
    width: 800px;
    min-width: 300px;
}

.form--input, .form--textarea {
    height: 40px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 20px;
    text-indent: 10px;
}

.form--textarea {
    height: 80px;
    min-width: 300px;
    justify-self: flex-start;
    margin: 10px 0;
    padding: 5px;
}

.form--input:focus, .form--textarea:focus {
    outline: none;
    border-width: 2px;
    border-color: yellowgreen;
}

.form--output {
    display: flex;
}


.symbol--button {
    height: 35px;
    width: 80px;
    border: none;
    background-color: #6699ff;
    color: white;
    border-radius: 2px;
    font-size: 2em;
    text-align: center;
}

.unordered-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
}
li {
    margin: 0 2.5px;
}
li:before {
    content: "|";
}

.symbol--button:hover {
    transform: scale(1.1);
}

.add {
    background-color: #33cc33;
}

.remove {
    background-color: #ff0000;
}

.add:hover, .remove:hover {
    border:2px solid white;

}

.span-md-2 {
    width: 45%;
}

.span-md-3 {
    width: 30%;
}

.span-lg {
    width: 80%;
}
